rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /purchaseEntries/{entryId} {
      allow read, create, update, delete: if isSignedIn();
    }

    match /issueEntries/{entryId} {
      allow read, create, update, delete: if isSignedIn();
    }
  }
}
